Package: com.irepo.liblockscreen
Name: libLockScreen
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A library for developers to use to easily implement tweaks into the lock screen. THIS IS A DEVELOPER PACKAGE ONLY! IT IS ALSO REALLY BETA!
Maintainer: william_vab <wvabrinskas@gmail.com>
Author: william_vab <wvabrinskas@gmail.com>
Section: Tweaks
Version: 0.0.1-3
Installed-Size: 72
